@font-face { font-family: "JejuHallasan"; src: url("../fonts/JejuHallasan-Regular.ttf"); }
@font-face { font-family: "JetBrainsMono"; src: url("../fonts/JetBrainsMono-Regular.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: normal; src: url("../fonts/segoeui.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: 600; src: url("../fonts/seguisb.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: bold; src: url("../fonts/segoeuib.ttf"); }
@font-face { font-family: "ErasMedium"; src: url("../fonts/ERASMD.TTF"); }
@font-face { font-family: "RockwellConBold"; src: url("../fonts/ROCCB___.TTF"); }
@font-face { font-family: "LucidaHandItalic"; src: url("../fonts/LHANDW.TTF"); }
@font-face { font-family: "VinerHandRegular"; src: url("../fonts/VINERITC.TTF"); }
@font-face { font-family: "Pixellari"; src: url("../fonts/Pixellari.ttf"); }
@font-face { font-family: "BahnLightCond"; src: url("../fonts/BAHNSCHRIFT.TTF"); }

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body, main { height: 100%; }
html { font-size: 16px; }
body { background-color: aliceblue; }

.f-xlarge { font-size: 4.5rem; }
.f-large { font-size: 4rem; }
.f-medium { font-size: 3.5rem; }
.f-small { font-size: 3rem; }
.f-xsmall { font-size: 2.5rem; }
.f-xxsmall { font-size: 2rem; }

.intro {
    font-family: JetBrainsMono;
    padding: 1rem;
}

.battle {
    padding: 1rem;
}

@keyframes Appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes LogoShift {
    0% { transform: rotate(7.5deg) translateX(-50px) translateY(100px); }
    50% { transform: rotate(7.5deg) translateX(-1300px) translateY(100px); }
    100% { transform: rotate(7.5deg) translateX(-50px) translateY(100px); }
}

.logo {
    position: fixed;
    font-family: Pixellari;
    font-size: 35rem;
    text-align: left;
    color: #323232;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    letter-spacing: -3.5rem;
    line-height: 100%;
    transform: rotate(7.5deg) translateX(-50px) translateY(100px);
    overflow: clip;
    opacity: 0;
    animation: Appear 0.1s linear, LogoShift 10s ease-in-out 1s infinite;
    animation-fill-mode: forwards;
}

.logo-bottom {
    transform: rotate(-7.5deg) translateX(-50px) translateY(500px);
    overflow: revert;
    animation: Appear 0.1s linear 0.5s;
    animation-fill-mode: forwards;
}

.logo-bottom:hover {
    text-shadow: 6px 6px 12px #E1C06B;
    transition: ease 0.1s;
}

.btn-radio {
    font-family: JetBrainsMono;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 5px 30px 5px 30px;
    background-color: none;
    border: 2px solid black;
    cursor: pointer;
    transition-duration: 0.1s;
}

.btn-radio:hover {
    color: ghostwhite;
    background-color: grey;
}

.btn-radio-active {
    color: white;
    background-color: black;
}

.btn-radio-active:hover {
    color: white;
    background-color: black;
}

.btn-gold {
    font-family: JetBrainsMono;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    background: linear-gradient(270deg, #69DE74, #FF8B8B);
    background-size: 400% 400%;
    color: black;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

.btn-gold:disabled {
    background: none;
    background-color: lightgrey;
    box-shadow: none;
    cursor: default;
}

@keyframes GradientShift {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.btn-gold:hover {
    animation: GradientShift 4s ease infinite;
    background-color: #dccda7;
}

.btn-gold:active {
    background-color: #dccda7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-gold:disabled:hover {
    animation: none;
    background-color: lightgrey;
}

.btn-gold:disabled:active {
    background-color: lightgrey;
    box-shadow: none;
    transform: none;
}

.stats {
    font-family: "ErasMedium";
    text-align: center;
    color: darkblue;
}

.s-opponent {
    color: orangered;
}

.dialogue {
    font-family: JetBrainsMono;
    text-align: left;
}

.text-input {
    font-family: JetBrainsMono;
    background-color: aliceblue;
    border: medium solid black;
}

#start-btn {
    position: absolute;
    top: 80%;
    left: 82.5%;
    transform: rotate(7.5deg);
}