@font-face { font-family: "JejuHallasan"; src: url("../fonts/JejuHallasan-Regular.ttf"); }
@font-face { font-family: "JetBrainsMono"; src: url("../fonts/JetBrainsMono-Regular.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: normal; src: url("../fonts/segoeui.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: 600; src: url("../fonts/seguisb.ttf"); }
@font-face { font-family: "SegoeUI"; font-weight: bold; src: url("../fonts/segoeuib.ttf"); }
@font-face { font-family: "ErasMedium"; src: url("../fonts/ERASMD.TTF"); }
@font-face { font-family: "RockwellConBold"; src: url("../fonts/ROCCB___.TTF"); }
@font-face { font-family: "LucidaHandItalic"; src: url("../fonts/LHANDW.TTF"); }
@font-face { font-family: "VinerHandRegular"; src: url("../fonts/VINERITC.TTF"); }
@font-face { font-family: "Pixellari"; src: url("../fonts/Pixellari.ttf"); }
@font-face { font-family: "BahnLightCond"; src: url("../fonts/BAHNSCHRIFT.TTF"); }

* {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    margin: 0px;
}

body {
    /*background-color: #E1C06B;*/
    background-color: aliceblue;
}

.intro {
    font-family: JetBrainsMono;
    height: 100%;
}

.intro-20 {
    font-size: 3.5em;
    height: 20%;
}

.intro-15 {
    font-size: 5.5em;
    height: 15%;
}

.intro-10 {
    font-size: 3.5em;
    height: 10%;
}

@keyframes Appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes LogoShift {
    0% {
        transform: rotate(7.5deg) translateX(-50px) translateY(100px);
    }
    50% {
        transform: rotate(7.5deg) translateX(-800px) translateY(100px);
    }
    100% {
        transform: rotate(7.5deg) translateX(-50px) translateY(100px);
    }
}

.logo {
    position: fixed;
    font-family: Pixellari;
    font-size: 30em;
    text-align: left;
    color: #323232;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    margin: 0px;
    letter-spacing: -3.5rem;
    line-height: 100%;
    transform: rotate(7.5deg) translateX(-50px) translateY(100px);
    overflow: clip;
    opacity: 0;
    animation: Appear 1s linear, LogoShift 10s ease-in-out 2.25s infinite;
    animation-fill-mode: forwards;
}

.logo-bottom {
    transform: rotate(-7.5deg) translateY(500px);
    overflow: revert;
    animation: Appear 1s linear 1.25s;
    animation-fill-mode: forwards;
}

.logo-bottom:hover {
    text-shadow: 6px 6px 12px #E1C06B;
    transition: ease 0.1s;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.btn-gold {
    font-family: JetBrainsMono;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    background: linear-gradient(270deg, #69DE74, #FF8B8B);
    background-size: 400% 400%;
    color: black;
    cursor: pointer;
    box-shadow: 0 9px #999;
}

@keyframes GradientShift {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.btn-gold:disabled {
    background-color: lightgrey;
}

.btn-gold:hover {
    animation: GradientShift 4s ease infinite;
    background-color: #dccda7;
}

.btn-gold:active {
    background-color: #dccda7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-xsmall {
    font-size: 0.7em;
}

.btn-small {
    font-size: 1em;
}

.btn-large {
    font-size: 2em;
}

.btn-wrap {
    padding: 55px 35px 55px 35px;
    background-image: url("../images/awardleaves.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stats {
    font-size: 1.25em;
    font-family: 'Segoe UI';
    text-align: center;
}

.s-opponent {
    color: orangered;
}

.s-plain {
    color: darkblue;
}

.dialogue {
    text-align: center;
    border-radius: 10px;
    padding: 0px 35px 0px 35px;
    font-size: 1.5em;
}

.d-opponent {
    border: thin solid #FF8B8B;
    font-family: JetBrainsMono;
}

.d-plain {
    font-family: JetBrainsMono;
}

.text-input > input {
    font-family: JetBrainsMono;
    font-size: 3.2rem;
    /*background-color: #E1C06B;*/
    background-color: aliceblue;
    border: medium solid black;
}

#start-btn {
    shape-outside: content-box;
    position: absolute;
    top: 80%;
    left: 87.5%;
    transform: rotate(7.5deg);
}

#battle-div {
    padding: 50px 50px 50px 50px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 30px 30px 15px;
    font-size: 1.3em;
}

#main-nav > a {
    text-decoration: none;
    color: #323232;
    padding: 15px;
}

#nav-logo {
    font-family: JejuHallasan;
    font-size: 1.5em;
    margin-right: auto;
}