@page "/intro"
@inherits MainLayout
@inject Game Game
@inject NavigationManager Navigation

<PageTitle>Character Creator</PageTitle>

<div id="main-div" class="col">
    <EditForm EditContext=@editContext Model=@Player OnValidSubmit=@Submit>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <article class="dialogue d-plain col">
            <div class="row">
                <p>Your name is &nbsp;</p>
                <div class="col text-input">
                    <!--<ValidationMessage For="() => Player.Name"></ValidationMessage>-->
                    <InputText tabindex="1" placeholder="type here..."
                               @bind-Value=@Player.Name @ref="nameInput"></InputText>
                </div>
            </div>

            @{
                enteredName = enteredTagline = !String.IsNullOrWhiteSpace(Player.Name); 
            }

            @if (enteredName)
            {
                <p>&nbsp;and you've entered a fighting tournament.</p>
                <div class="row">
                    <p>You want people to call you the &nbsp</p>
                    <div class="col text-input">
                        <!--<ValidationMessage For="() => Player.Tagline"></ValidationMessage>-->
                        <InputText tabindex="2" placeholder="type here..."
                                   @bind-Value=@Player.Tagline @ref="taglineInput"></InputText>
                    </div>
                </div>

                enteredTagline = !String.IsNullOrWhiteSpace(Player.Tagline);

                if (enteredTagline)
                {
                    <p>You will be facing 3 opponents. Defeat all three and you'll win prize money and fame!</p>
                }
            }
        </article>
        @if (enteredTagline)
        {
            <article class="dialogue d-plain col">
                <p>You've been training hard, and your fighting style is:</p>
                <div class="row">
                    <button class="btn-gold btn-small" type="button" @onclick=@SetBalancedBuild>Balanced</button>
                    <button class="btn-gold btn-small" type="button" @onclick=@SetAgileBuild>Agile</button>
                    <button class="btn-gold btn-small" type="button" @onclick=@SetTankyBuild>Tanky</button>
                </div>
            </article>

            @if (choseBuild)
            {
                <button class="btn-gold btn-large" type="submit">Submit</button>
            }
        }
    </EditForm>
</div>

@code {
    private Character Player = new Character();

    private InputText nameInput;
    private InputText taglineInput;
    private InputText victoryInput;
    private InputText defeatInput;

    private EditContext? editContext { get; set; }
    private bool enteredName = false;
    private bool enteredTagline = false;
    private bool choseBuild = false;

    private int maxNameLength = 20;
    private int maxTaglineLength = 20;

    [CascadingParameter] public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.ToggleLogo(true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || !enteredName)
        {
            editContext?.Validate();
            if (nameInput.Element.HasValue)
            {
                await nameInput.Element.Value.FocusAsync();
            }
        } else if (!enteredTagline)
        {
            if (taglineInput.Element.HasValue)
            {
                await taglineInput.Element.Value.FocusAsync();
            }
        }
    }

    public void SetBalancedBuild()
    {
        Player.SetStats(70, 70, 60, 70, 70, 60);
        choseBuild = true;
    }

    public void SetAgileBuild()
    {
        Player.SetStats(60, 90, 50, 50, 70, 80);
        choseBuild = true;
    }

    public void SetTankyBuild()
    {
        Player.SetStats(100, 40, 90, 100, 40, 30);
        choseBuild = true;
    }

    public void Submit()
    {
        if (enteredName && enteredTagline && choseBuild)
        {
            Game.SetUp(Player);
            Navigation.NavigateTo("/battle");
        }
    }
}
